body{
	color: red;
	box-sizing: border-box;
}
.mainIntro{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 20px;
}
.image img{
	box-shadow: 5px 3px 10px .5px grey;
}
@media (max-width:600px){
	.mainIntro{
		grid-template-columns: 1fr;
	}
	.maintable{
		max-width: 100%;

	}
	.image{
		width: 100%;
	}
	.image img{
		width: 100%;
	}
}
